body {
  background-color: rgb(38, 50, 71);
}

/***

CSS for the Individual Movie-Cards Component

***/

.poster{
  width: auto;
  height: 250px;
  
}
.card {
  background-color: rgb(0, 60, 255);
}
.card-body {
  background-color: rgb(53, 98, 152);

}
/***

CSS for the Stars Rating Component 

***/

button {
  background-color: transparent;
  border: auto;
  outline: auto;
  cursor: pointer;
}
.on {
  color: gold;
}
.off {
  color: #ccc;
}